<div class="container lg-margin-top">
  <div class="row">
    <div class="col-md-12 text-center">
      <h3>Your luver is: <%= User.find(@user.luver_id).email %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h5>Created <span class="badge bg-primary"><%= @response_count %> </span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Received <span class="badge bg-success"><%= @received_count %> </span></h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h5>Available to view <span class="badge bg-danger"><%= @luv_notes_ready.count %> </span></h5>
    </div>
  </div>
</div>
<div class="container md-margin-top">
  <div class="row">
    <div class="col-md-6">
      <% if @luv_notes_ready.any? %>
        <% @luv_notes_ready.each do |note| %><br />
          <%= link_to "View Note!", prompt_prompt_response_path(note.prompt_id, note), class: 'btn btn-primary'  %><br />
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div class="container sm-margin-top">
  <div class="row">
    <div class="col-md-6">
      <h4>Send a Luv Note</h4>
      <% if @prompts.empty? %>
        <p>No new prompts to respond to</p>
      <% end  %>
      <% @prompts.each do |prompt| %><br /><br />
        <div class="card card-body bg-light">
          <p><%= prompt.prompt_question %></p>
          <%= link_to "Answer prompt", new_prompt_prompt_response_path(prompt), class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
